body{
  background-color: #4C9C08;
  background-image: url('../assets/bg-field-sky.40b4b356.png');
  background-size:cover;
  background-repeat: no-repeat;
}

.red{
  font-size: 10vh;
  color: red;
  font-weight: bold;
  text-align: center;
}

.white{
  font-size: 3vh;
  color: white;
  font-weight: bold;
}

h1{
  text-align: center;
  font-size: 50px;
}

.size{
  width: 500px;
  height: 500px;
}

.bgBrown{
  background-color: brown;
  text-align: center;
}

.black{
  font-family: 'Inika', 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.blacker{
  font-family: 'Inika', 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: larger;

}

.card{
  width: 50%;
  display: flex;
  justify-content: center;
}

.autoPet{
  width: 35%;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically align the container */
}