body{
  background-color: #4C9C08;
  background-image: url('../assets/bg-field-sky.40b4b356.png');
  background-size:cover;
  background-repeat: no-repeat;
}

.red{
  font-size: 10vh;
  color: red;
  font-weight: bold;
  text-align: center;
}

.white{
  font-size: 3vh;
  color: white;
  font-weight: bold;
}

h1{
  text-align: center;
  font-size: 50px;
}

.size{
  width: 1200px;
  height: 500px;
}

.black{
  font-family: 'Inika', 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.blacker{
  font-family: 'Inika', 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;

}

.card{
  width: 60%;
  height: 30rem;
  display: flex;
  justify-content: center;
}

.autoPet{
  width: 35%;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; /* Vertically align the container */
}

.carousel-caption {
  color: white;
  text-align: center;
  max-width: 700px;
  right: 0;
  top: 1px;
  background: rgba(0,0,0,0.3);
  padding: 10px;
  height: 100%;
  left: auto; /
}

.carTitle{
  justify-content: left;
  display: flex;  
  padding: 30px !important;
  margin-left: 100px !important;
}

.carName{
  justify-content: left;
  display: flex;  
  padding: 30px !important;
  margin-left: 150px !important;
  
}

.moveLeft{
  margin-left: 130px;
}
