body{
  background-color: #4C9C08;
  background-image: url('../assets/bg-field-sky.40b4b356.png');
  background-size:cover;
  background-repeat: no-repeat;
}

.red{
  font-size: 70px;
  color: red;
  font-weight: bold;
}

.white{
  font-size: 25px;
  color: white;
  font-weight: bold;
}